/mariadb/
mariadb/.my-healthcheck.cnf
mariadb/ddl_recovery.log
mariadb/ib_buffer_pool
mariadb/ibtmp1
mariadb/laravel/cache.frm
mariadb/laravel/cache.ibd
mariadb/laravel/cache_locks.frm
mariadb/laravel/cache_locks.ibd
mariadb/laravel/db.opt
mariadb/laravel/failed_jobs.frm
mariadb/laravel/failed_jobs.ibd
mariadb/laravel/job_batches.frm
mariadb/laravel/job_batches.ibd
mariadb/laravel/jobs.frm
mariadb/laravel/jobs.ibd
mariadb/laravel/migrations.frm
mariadb/laravel/migrations.ibd
mariadb/laravel/password_reset_tokens.frm
mariadb/laravel/password_reset_tokens.ibd
mariadb/laravel/sessions.frm
mariadb/laravel/sessions.ibd
mariadb/laravel/users.frm
mariadb/laravel/users.ibd
mariadb/tc.log
